* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --blue: #3891A6;
    --gray: #4C5B5C;
    --yellow: #FDE74C;
    --red-rose: #e42538;
    --saumon: #E3655B;
    --almost-white: #fefefe;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
}

.todo-container {
    background-color: var(--yellow);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.todo-container > h1 {
    text-align: center;
    color: var(--almost-white);
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.todo-form {
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}

.todo-form > input,
.todo-form > select {
    padding: 10px 15px;
    border: none;
    width: 90%;
    border-radius: 8px;
    margin: 10px 0px;
}

select > option {
    background-color: var(--almost-white);
}

button[type="submit"] {
    background-color: var(--gray);
    border: none;
    color: var(--almost-white);
    padding: 8px 20px;
    width: 90%;
    margin-top: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.todolist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 0px 20px;
}

.todo {
    height: auto;
}

.todo > h2 {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: var(--almost-white);
}

.work {
    border: 5px solid var(--saumon);
}

.work > h2 {
    background-color: var(--saumon);
}

.home {
    border: 5px solid var(--yellow);
}

.home > h2 {
    background-color: var(--yellow);
}

.hobby {
    border: 5px solid var(--red-rose);
}

.hobby > h2 {
    background-color: var(--red-rose);
}

.misc {
    border: 5px solid var(--blue);
}

.misc > h2 {
    background-color: var(--blue);
}

.todoitem {
    padding: 10px;
}

.todoitem > * {
    margin-right: 8px;
    display: inline;
    cursor: pointer;
}

.todoitem-checkbox {
    margin-right: 8px;
}

.done {
    text-decoration: line-through;
}

.todoitem-btn {
    background: transparent;
    padding: 2px 8px;
}

.todoitem-btn:hover {
    font-weight: bold;
}